<%= form_with(model: kitten) do |form| %>
  <% if kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being saved:</h2>

      <ul>
        <% kitten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :age, "Age(yrs)" %>
    <%= form.number_field :age, in: 0..20, step: 1 %>
    <%= form.label :cuteness %>
    <%= form.range_field :cuteness, in: 0..100 %>
    <%= form.label :softness %>
    <%= form.range_field :softness, in: 0..100 %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
